.main__primary__discription__low-text{
    margin-top: 50px;
    position: relative;
    padding-left: 25px;
    font-family: "Preahvihear", sans-serif;
    font-size: 11px;
    line-height: 126%;
    font-weight: 400;
}