.footer__information{
    margin-top: 73px;
    position: relative;
    font-family: "Preahvihear", sans-serif;
    font-size: 15px;
    line-height: 126%;
    font-weight: 400;
    font-style: normal;
}