@import url("./cards/main__skills__cards.css");
@import url("./title/main__skills__title.css");
.main__skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 170px;
  width: 90%;
}








