@import url("./item/main__skills__cards__item.css");
.main__skills__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 44px;
}

@media screen and (max-width: 1200px) {
.main__skills__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    margin: 0 auto;
    margin-top: 44px;
}
}