@import url("./item/main__examples__item.css");
.main__examples {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

@media screen and (max-width: 1200px) {
  .main__examples {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
  }
}
